@"
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
"@ | Out-File -Encoding utf8 .gitignore

@"
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
"@ | Out-File -Encoding utf8 .gitignore